/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

.parole{ 

    position: relative;
}

i{
    width: 25rem;
    position: absolute;
    left: 0.5rem; 
    color: #6a889c;
    opacity: 0;
}

.parole i:first-child{
    animation: hideWord 9s linear infinite ;
}
.parole i:nth-child(2){
    animation: hideWord 9s linear 3s infinite ;
}
.parole i:nth-child(3){
    animation: hideWord 9s linear 6s infinite ;
}



@keyframes hideWord{
    0%{
        transform: translateY(-30px);
        opacity: 0;
    }
    10%{
        opacity: 1;
        transform: translateY(0px);
    }
    20%{
        opacity: 1;
        transform: translateY(0px);
    }
    34%{
        opacity: 0 ;
        transform: translateY(30px);
    }
    100%{
        opacity: 0 ;
        transform: translateY(20px);
    }


}
  #testoAlternato{
    font-size: 3rem;
    margin: 4rem;
    width: 60rem;
    height: 10rem;
    padding: 1rem;
    border:0.2rem solid black;
    font-family: 'Bree Serif', serif;
  }