body{
    background-color: grey;
    font-family: 'Indie Flower', cursive;
}

#contenitore{
    margin:6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div p:first-child{
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
}



.yellow{
    

    transform: rotate(-5deg);
    transition: transform 1s;
    /* transition-duration: 1s; */
    animation: smackEm 0.5s ease-in-out;
    font-size: 1.5rem;
    display: flex;
    background: rgb(250,251,201);
    background: linear-gradient(180deg, rgba(250,251,201,1) 62%, rgba(189,189,163,1) 100%);
    box-shadow: 5px 5px 10px rgb(54, 54, 54);
    width: 18rem;
    height: 15rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}
.green{
    

    transform: rotate(+5deg);
    transition: transform 1s;
    /* transition-duration: 1s; */
    animation: smackEm 0.5s ease-in-out;
    /* animation-delay: 0.5s; */
    font-size: 1.5rem;
    display: flex;
    background: rgb(201,251,202);
    background: linear-gradient(180deg, rgba(201,251,202,1) 62%, rgba(158,181,161,1) 100%);
    box-shadow: 5px 5px 10px rgb(54, 54, 54);
    width: 18rem;
    height: 15rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}
.purple{
    

    transform: rotate(-10deg);
    transition: transform 1s;
    animation: smackEm 0.5s ease-in-out;
    /* animation-delay: 1s; */
    font-size: 1.5rem;
    display: flex;
    background: rgb(198,198,241);
    background: linear-gradient(180deg, rgba(198,198,241,1) 62%, rgba(139,140,155,1) 100%);
    box-shadow: 5px 5px 10px rgb(54, 54, 54);
    width: 18rem;
    height: 15rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}
.yellow:hover, .green:hover, .purple:hover{
    transform: rotate(0deg); 
    transform: scale(1.5,1.5);
    z-index: 2;
}

@keyframes smackEm {
    from {
        
        opacity: 0;
        transform: scale(3);
        }
    to {
        
        opacity: 1;
        transform: scale(1);
        box-shadow: none;
     }
}
 